switch.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Delete_email_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "delete",
                    "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}"
                },
                "runAfter": {
                    "Switch": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Switch": {
                "cases": {
                    "Case": {
                        "actions": {
                            "For_each_2": {
                                "actions": {
                                    "Create_file_2": {
                                        "inputs": {
                                            "body": "@items('For_each_2')",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://vivifycompany.sharepoint.com/sites/SandreamSpecialties-CompanyFiles'))}/files",
                                            "queries": {
                                                "folderPath": "/Shared Documents/ReportingTest/",
                                                "name": "@triggerBody()?['subject']",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {},
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@triggerBody()?['attachments']",
                                "runAfter": {},
                                "type": "Foreach"
                            }
                        },
                        "case": "billing@comcast.com"
                    },
                    "Case_2": {
                        "actions": {
                            "For_each_3": {
                                "actions": {
                                    "Create_file_3": {
                                        "inputs": {
                                            "body": "@items('For_each_3')",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://vivifycompany.sharepoint.com/sites/SandreamSpecialties-CompanyFiles'))}/files",
                                            "queries": {
                                                "folderPath": "/Reporting",
                                                "name": "@triggerBody()?['subject']",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {},
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@triggerBody()?['attachments']",
                                "runAfter": {},
                                "type": "Foreach"
                            }
                        },
                        "case": "asr@asr.com"
                    },
                    "Case_3": {
                        "actions": {
                            "For_each_4": {
                                "actions": {
                                    "Create_file_4": {
                                        "inputs": {
                                            "body": "@items('For_each_4')",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://vivifycompany.sharepoint.com/sites/SandreamSpecialties-CompanyFiles'))}/files",
                                            "queries": {
                                                "folderPath": "/Reporting",
                                                "name": "@triggerBody()?['subject']",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {},
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@triggerBody()?['attachments']",
                                "runAfter": {},
                                "type": "Foreach"
                            }
                        },
                        "case": "vendor@vendor.com"
                    }
                },
                "default": {
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Create_file": {
                                    "inputs": {
                                        "body": "@items('For_each')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://vivifycompany.sharepoint.com/sites/SandreamSpecialties-CompanyFiles'))}/files",
                                        "queries": {
                                            "folderPath": "/Reporting",
                                            "name": "@triggerBody()?['subject']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runAfter": {},
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@triggerBody()?['attachments']",
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    }
                },
                "expression": "@triggerBody()?['from']",
                "runAfter": {},
                "type": "Switch"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_email_arrives_in_a_shared_mailbox_(V2)": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/SharedMailbox/Mail/OnNewEmail",
                    "queries": {
                        "folderId": "Inbox",
                        "hasAttachments": false,
                        "importance": "Any",
                        "includeAttachments": false,
                        "mailboxAddress": "samples@vivifycompany.com"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365": {
                    "connectionId": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/resourceGroups/LogicFlow/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/providers/Microsoft.Web/locations/centralus/managedApis/office365"
                },
                "sharepointonline": {
                    "connectionId": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/resourceGroups/LogicFlow/providers/Microsoft.Web/connections/sharepointonline",
                    "connectionName": "sharepointonline",
                    "id": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/providers/Microsoft.Web/locations/centralus/managedApis/sharepointonline"
                }
            }
        }
    }
}