THISACTUALLYDEPLOYS.JSON
{
  "accessControl": null,
  "accessEndpoint": "https://prod-10.centralus.logic.azure.com:443/workflows/f0e11185839346199ae6876af9cf1f2e",
  "changedTime": "2022-07-28T22:10:29.676517+00:00",
  "createdTime": "2022-07-28T22:00:34.271018+00:00",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Delete_email_(V2)": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "delete",
          "path": "/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}"
        },
        "runAfter": {
          "For_each": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "For_each": {
        "actions": {
          "Create_file": {
            "inputs": {
              "body": "@items('For_each')",
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                }
              },
              "method": "post",
              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://vivifycompany.sharepoint.com/sites/SandreamSpecialties-CompanyFiles'))}/files",
              "queries": {
                "folderPath": "/Shared Documents/ReportingTest",
                "name": "@triggerBody()?['subject']",
                "queryParametersSingleEncoded": true
              }
            },
            "runAfter": {},
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "ApiConnection"
          }
        },
        "foreach": "@triggerBody()?['attachments']",
        "runAfter": {},
        "type": "Foreach"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_new_email_arrives_in_a_shared_mailbox_(V2)": {
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 3
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/SharedMailbox/Mail/OnNewEmail",
          "queries": {
            "folderId": "Inbox",
            "from": "jjones@bsgtech.com",
            "hasAttachments": false,
            "importance": "Any",
            "includeAttachments": false,
            "mailboxAddress": "samples@vivifycompany.com"
          }
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 3
        },
        "splitOn": "@triggerBody()?['value']",
        "type": "ApiConnection"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "accessEndpointIpAddresses": null,
      "outgoingIpAddresses": [
        {
          "address": "52.173.241.27"
        },
        {
          "address": "52.173.245.164"
        },
        {
          "address": "13.89.171.80/28"
        },
        {
          "address": "13.89.178.64/27"
        },
        {
          "address": "40.77.68.110"
        },
        {
          "address": "20.98.144.224/27"
        },
        {
          "address": "20.98.145.0/28"
        },
        {
          "address": "20.80.123.134"
        },
        {
          "address": "20.80.123.57"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "13.67.236.76"
        },
        {
          "address": "40.77.111.254"
        },
        {
          "address": "40.77.31.87"
        },
        {
          "address": "104.43.243.39"
        },
        {
          "address": "13.86.98.126"
        },
        {
          "address": "20.109.202.37"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "13.67.236.125"
        },
        {
          "address": "104.208.25.27"
        },
        {
          "address": "40.122.170.198"
        },
        {
          "address": "40.113.218.230"
        },
        {
          "address": "23.100.86.139"
        },
        {
          "address": "23.100.87.24"
        },
        {
          "address": "23.100.87.56"
        },
        {
          "address": "23.100.82.16"
        },
        {
          "address": "52.141.221.6"
        },
        {
          "address": "52.141.218.55"
        },
        {
          "address": "20.109.202.36"
        },
        {
          "address": "20.109.202.29"
        }
      ]
    }
  },
  "id": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/resourceGroups/LogicFlow/providers/Microsoft.Logic/workflows/TestDeploy2",
  "integrationAccount": null,
  "integrationServiceEnvironment": null,
  "location": "centralus",
  "name": "TestDeploy2",
  "parameters": {
    "$connections": {
      "description": null,
      "metadata": null,
      "type": null,
      "value": {
        "office365": {
          "connectionId": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/resourceGroups/LogicFlow/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/providers/Microsoft.Web/locations/centralus/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/resourceGroups/LogicFlow/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/7be458ed-9d5e-4b79-bedb-b61e8510e45b/providers/Microsoft.Web/locations/centralus/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "LogicFlow",
  "sku": null,
  "state": "Disabled",
  "tags": null,
  "type": "Microsoft.Logic/workflows",
  "version": "08585425606558093852"
}